@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

:root{
    --primary--color:#86dbf0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "Roboto Mono";
}
body{
    height: 130vx;
    background: linear-gradient(to right, #86dbf0, #0cb5cf);
    font-family: "Roboto Mono";
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
}

.logo__project{
    height: 100%;
}
.card{
    margin: 20px;
    width: 320px;
    height: 400px;
    background: #506266df;
    padding: 20px;
    border-radius: 13px;
    color: white;
    position: relative;
}

.card__heart, .card__cart{
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.card__cart{
    left: unset;
    right: 20px;
}

.card__img{
    width: 70%;
    margin: 0 auto;
    transition: 0.5s;
}

.card__img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card__title, .card__price{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card__title{
    color: var(--primary--color);
}

.card__class, .card__color{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.card__class span{
    padding: 1px 5px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 4px 4px;
}

.card__color span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}

.card__color--green{
    background: #d8fd04;
}
.card__color--orange{
    background: orange;
}
.card__color--purple{
    background: #f107f1;
}

.card__action button{
    background: var(--primary--color);
    border: none;
    outline: none;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}
.card__action button:hover{
    transform: scale(1.1);
}

.card:hover .card__img{
    transform: translateY(-90px) scale(1.25);
}
.card:hover .card__title{
    transform: translateY(-70px) scale(1.25);
}
.card:hover .card__price{
    transform: translateY(-60px) scale(1.25);
}

.card__class{
    margin-top: 120px;
}

.card__class, .card__color, .card__action{
    visibility: hidden;
    opacity: 0;
    margin-left: 20px;
    transition: 0.5s;
}
.card:hover .card__class, .card:hover .card__color, .card:hover .card__action{
    visibility: visible;
    opacity: 100;
}
.card:hover .card__class{
    margin-top: -50px;
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.25em;
    font-weight: bold;
}

.header__left{
    display: flex;
    height: 100%;
    width: 270px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px;
}
.header__mid{
    display: flex;
    height: 100;
    width: 48%;
    margin-left: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 15px;
}
.header__right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
    z-index: 1;
    width: 320px;
}

.name__header__title, .wallet, .sort__title__text, .info__header__title{
    font-size: 1.2em;
}

.wallet{
    display: flex;
    background: #506266df;
    border: none;
    padding: 10px 28px;
    clip-path: polygon(5% 0, 95% 0, 100% 35%, 95% 100%, 5% 100%, 0 65%);
    color: white;
}

.market__nft{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0%;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
}

.side__bar{
    display: flex;
    flex-direction: column;
    background: #506266df;
    width: 300px;
    height: 1000px;
    border-radius: 13px;
}

.middle{
    display: flex;
    margin-left: 15px;
    width: 100%;
}

.section{
    width: 100%;
}

.section__header, .section__header_detail{
    flex-direction: row;
    display: flex;
    width: calc(100% - 60px);
    background: #506266df;
    border-radius: 13px;
    margin-left: 20px;
    height: 80px;
    justify-content: space-between;
}

.section__header_detail{
    height: 100%;
    display: flex;
}

.sort__action{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.section__header__left{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.info__header__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.section__header__right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    font-size: 1.2em;
}

.section__header__right__1{
    display: flex;
    background: #50d061df;
    border: none;
    padding: 10px 20px;
    clip-path: polygon(5% 0, 95% 0, 100% 35%, 95% 100%, 5% 100%, 0 65%);
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    margin-right: 15px;
}

.right__1__detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.detail__sort__by{
    background: none;
    border: none;
    color: white;
    font-size: 0.9em;
    transition: 0.5;
    cursor: pointer;
}
.detail__sort__by option{
    background-color: #50d061df;
}

.detail__sort__by:hover, .detail__sort__by option:hover{
    transform: scale(1.05);
}
